* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.prompt {
    text-align: center;
    padding: 4px 12px;
    border-radius: 8px;
    font-weight: bold;
}

.prompt:hover {
    background-color: black;
    color: white;

}

.button-container{
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

